.subscribeButton {
  height: 4rem;
  width: 260px;
  border: 0;
  border-radius: 2rem;
  background-color: var(--yellow-500);
  color: var(--gray-900);
  font-size: 1.25rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;

  &:hover {
    transform: scale(1);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1);
  }
}
